#topo{
    height: 150px;
    background-color: cyan;
}

#rodape{
    height: 150px;
    background-color: cadetblue;
}

#logo{
    height: 100px;
    width: 400px;
    margin: auto;
    background-color: blueviolet;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}

.subMenu{
    height: 60px;
    line-height: 60px;
    margin: 10px 0px;
    text-align: center;
    background-color: crimson;
    font-size: 20px;
    color: white;
}

.subMenu:hover{
    background-color: coral;
}

.a{
    text-decoration: none;
    color: black;
}